citation_confirmation.xlsx
dataset_prep.ipynb
Dimensions_250702.csv
Dimensions_250729.csv
Dimensions_251127.csv
high_confidence_citations.xlsx
.venv
.env
__pycache__
interconnections_datasets/~$bibtex_mapping_of_ids.xlsx
interconnections_datasets_auth/~$bibtex_mapping_of_ids_authentication.xlsx
~$citation_confirmation.xlsx
